---
builds:
  - main
  - slim

options:
  common: "-Duseshrplib -Dvendorprefix=/usr/local"
  threaded: "-Dusethreads"

releases:
  - version: 5.8.9
    sha256:  1097fbcd48ceccb2bc735d119c9db399a02a8ab9f7dc53e29e47e6a8d0d72e79
    extra_flags: "-A ccflags=-fwrapv"
    test_parallel: no
    debian_release: jessie

  - version: 5.10.1
    sha256:  9385f2c8c2ca8b1dc4a7c31903f1f8dc8f2ba867dc2a9e5c93012ed6b564e826
    extra_flags: "-A ccflags=-fwrapv"
    test_parallel: no
    debian_release: jessie

  - version: 5.12.5
    sha256:  10749417fd3010aae320a34181ad4cd6a4855c1fc63403b87fa4d630b18e966c
    extra_flags: "-A ccflags=-fwrapv"
    test_parallel: no
    debian_release: jessie

  - version: 5.14.4
    sha256:  eece8c2b0d491bf6f746bd1f4f1bb7ce26f6b98e91c54690c617d7af38964745
    extra_flags: "-A ccflags=-fwrapv"
    test_parallel: no
    debian_release: jessie

  - version: 5.16.3
    sha256:  bb7bc735e6813b177dcfccd480defcde7eddefa173b5967eac11babd1bfa98e8
    extra_flags: "-A ccflags=-fwrapv"
    test_parallel: no
    debian_release: jessie

  - version: 5.18.4
    sha256:  1fb4d27b75cd244e849f253320260efe1750641aaff4a18ce0d67556ff1b96a5
    extra_flags: "-A ccflags=-fwrapv"
    test_parallel: no
    debian_release: jessie

  - version: 5.20.3
    sha256:  1b40068166c242e34a536836286e70b78410602a80615143301e52aa2901493b

  - version: 5.22.4
    sha256:  8b3122046d1186598082d0e6da53193b045e85e3505e7d37ee0bdd0bdb539b71

  - version: 5.24.4
    sha256:  e34ff38c54857f431f37403b757267c9998152bf46b5c750b462f62461279b10

  - version: 5.26.2
    sha256:  3f6a6b5bbd43016e5211e24b6631ea84216dd300216a2293b41c9195032f3e81

  - version: 5.26.3
    sha256:  9ff35a613213f29ab53975141af6825ae7d4408895538cac0922e47ab92a1477

  - version: 5.28.0
    sha256:  059b3cb69970d8c8c5964caced0335b4af34ac990c8e61f7e3f90cd1c2d11e49
    type:    xz

  - version: 5.28.1
    sha256:  fea7162d4cca940a387f0587b93f6737d884bf74d8a9d7cfd978bc12cd0b202d
    type:    xz
