---
builds:
  - main
  - slim

options:
  common: "-Duseshrplib -Dvendorprefix=/usr/local"
  threaded: "-Dusethreads"

releases:
  - version: 5.41.2
    sha256:  4b8fb14e213cd1b0a6715c3d2d08a833a2ce51ca793f14acecf4799d3a651771
    extra_flags: "-Dusedevel -Dversiononly=undef"
    debian_release:
      - bullseye
      - bookworm

  - version: 5.36.3
    sha256:  f2a1ad88116391a176262dd42dfc52ef22afb40f4c0e9810f15d561e6f1c726a
    debian_release:
      - bullseye
      - bookworm

  - version: 5.38.2
    sha256:  a0a31534451eb7b83c7d6594a497543a54d488bc90ca00f5e34762577f40655e
    debian_release:
      - bullseye
      - bookworm

  - version: 5.40.0
    sha256:  c740348f357396327a9795d3e8323bafd0fe8a5c7835fc1cbaba0cc8dfe7161f
    debian_release:
      - bullseye
      - bookworm
