---
builds:
  - main
  - slim
  - debug

options:
  common: "-Duseshrplib -Dvendorprefix=/usr/local"
  threaded: "-Dusethreads"

releases:
  - version: 5.39.5
    sha256:  4048cf0065f347a03ec85e989631a64e03ba9c9ccbc8f2a35153cad07fe21930
    extra_flags: "-Dusedevel -Dversiononly=undef"
    type:    xz
    debian_release:
      - bullseye
      - bookworm

  - version: 5.34.3
    sha256:  0b15c830a9a295c9f9439b6cda389300f0b18092686eaef47fbc9c92f5930ee1
    type:    xz
    debian_release:
      - buster
      - bullseye

  - version: 5.36.3
    sha256:  45a228daef66d02fdccc820e71f87e40d8e3df1fc4431f8d4580ec08033866bd
    type:    xz
    debian_release:
      - buster
      - bullseye
      - bookworm

  - version: 5.38.2
    sha256:  d91115e90b896520e83d4de6b52f8254ef2b70a8d545ffab33200ea9f1cf29e8
    type:    xz
    debian_release:
      - buster
      - bullseye
      - bookworm
