name: Build and test latest supported Perls

on: [push, pull_request]

jobs:
  build-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        variant: [ 'main', 'slim', 'main,threaded', 'slim,threaded' ]
        perl-version: [ '5.030.003', '5.028.003' ]
    steps:
      - uses: actions/checkout@master
      - name: Clone docker-library/official-images (for testing)
        run: |
          git clone --depth 1 --single-branch https://github.com/docker-library/official-images.git
      - name: Build image
        run: |
          docker version
          docker build --no-cache -t perl:${{ matrix.perl-version }} ${{ matrix.perl-version }}-${{ matrix.variant }}-buster
      - name: Inspect image creation and tag time
        run: |
          docker image inspect --format \'{{.Created}}\' perl:${{ matrix.perl-version }}
          docker image inspect --format \'{{.Metadata.LastTagTime}}\' perl:${{ matrix.perl-version }}
      - name: Run tests
        run: |
          ./official-images/test/run.sh perl:${{ matrix.perl-version }}
